@tailwind base;
@tailwind components;
@tailwind utilities;


.aspect-video {
  aspect-ratio: 16/9; /* default aspect ratio */
  transition: aspect-ratio 0.5s ease; /* smooth transition */
}

.aspect-video.landscape {
  aspect-ratio: 16/9; /* landscape aspect ratio */
}
